@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "jost", "kanit", sans-serif;
}

.contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 15px;
  background-color: rgb(255, 255, 255);
}

.box-1 {
  display: inline-flex;
  margin-left: 50px;

  .logo-icon a {
    color: black;
    text-decoration: none;
  }
}

.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  .link {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 20px;

      li a {
        position: relative;
        text-decoration: none;
        color: black;
        transition: all 0.15s ease-in-out;

        &:hover {
          color: gray;

          &::after {
            width: 100%;
            left: 0; 
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -2px; 
          width: 0; 
          height: 2px;
          background: gray;
          transition: width 0.3s ease, left 0.3s ease;
        }
      }
    }
  }
}

.box-3 {
  display: flex;
  gap: 10px;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
  .button a {
    display: block;
    text-decoration: none;
    color: white;
    background: #333;
    padding: 10px 24px;
    border-radius: 8px;
    transition: all 0.2s ease, transform 0.2s ease-in-out;
    transform-origin: center center;
    will-change: transform;
    box-shadow: 0 2px 0 rgba(0,0,0,0.15);
  }
}

.b-1 a:hover {
  background: #c5c5c5;
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.b-2 a:hover {
  background: #edad18;
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}